@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
body {
    background-color: #F2F4EF;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;

    font-family: 'Ubuntu Mono', monospace;
    font-style: normal;
    font-weight: 400;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.test {
    width: 400px;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}
