.user-page {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 64px;
}

.user-page__last-posts {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.last-posts__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.last-posts__list div {
    min-width: 45%;
}