.user-page {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 64px;
}

.user-page__last-posts {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.last-posts__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 24px;
}

@media screen and (max-width: 800px) {
    .last-posts__list {
        grid-template-columns: 1fr;
        gap: 12px;
    }
}