.header {
    display: flex;
    padding: 16px 12px;
    align-items: center;
    gap: 10px;
    color: white;

    background: #A4BC92;
    border-radius: 0px 0px 12px 12px;
    justify-content: space-between;
    }

.navigation__link {
    color: white;

    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
}

.navigation__list {
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style: none;
    gap: 24px;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 12px;
    align-items: center;
}

.navigation__profile {
    display: block;
    border-radius: 100%;

    width: 32px;
    height: 32px;
}

.navigation__avatar {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    aspect-ratio: 1;
}